.message {
    font-family: "Bradley Hand", sans-serif;
    font-size: xx-large;
}

.new-game-btn {
    font-family: "Bradley Hand", sans-serif;
    font-size: x-large;
    background: darkcyan;
    color: white;
    cursor: pointer;
    width: 150px;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    margin-right: 10px;
}
