<p class="message">{{message}}</p>
<button class="new-game-btn" (click)="onClick()">Neues Spiel</button>
<input type="checkbox" class="checkbox" [(ngModel)]="computerStarts" ><span class="message">Computer beginnt</span>
