<div class="playfield">
  <div class="tile-row">
    <app-tile *ngFor="let i of [0,1,2]" (signEvent)="onMoveEvent(i)" [sign]="playfield[i]"></app-tile>
  </div>
  <div class="tile-row">
    <app-tile *ngFor="let i of [3,4,5]" (signEvent)="onMoveEvent(i)" [sign]="playfield[i]"></app-tile>
  </div>
  <div class="tile-row">
    <app-tile *ngFor="let i of [6,7,8]" (signEvent)="onMoveEvent(i)" [sign]="playfield[i]"></app-tile>
  </div>
</div>
