.tile {
  display: flex;
  background: azure;
  width: 100pt;
  height: 100pt;
  border-width: 5px;
  border-style: solid;
  border-color: darkcyan;
  margin: 0;
  justify-content: center;
  align-items: center;
  color: darkslateblue;
  font-size: 90px;
  font-family: "Comic Sans MS", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}
