h1 {
  color: darkslategrey;
  font-family: "Bradley Hand", sans-serif;
  font-size: 90px;
  text-align: center;
  animation-name: animation_blink;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin-bottom: 0;
}

@keyframes animation_blink  {
  0% {
    color: darkslategrey;
  }
  50% {
    color: darkslateblue;
  }
  100% {
    color: darkslategrey;
  }
}




.frame {
  position: absolute;
  left: 20%;
}

